.botao{
    width: 20vw;
    margin-left: 40vw;
}
body{
   background-color: rgb(232, 116, 255);
}
.text-one{
    margin-top: 34vh;
    margin-left: 14vw;
}

.text-two{
    margin-left: 18vw;
}

.text-imc{
    margin-left: 15vw;
}

.input-one{
    margin-left: 26vw;
}

.input-two{
    margin-left: 26vw;
}